.ActivityId {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    margin-top: 10px;
    width: 50%;
    height: 380px;
    object-fit: contain;
  }
}
